* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", sans-serif;
  background-color: #1b1616;
  color: hsla(0, 0%, 100%, 0.49);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  padding-top: 10px;
  width: 100%;
  height: 80px;
  top: 0;
  position: sticky;
  background-color: #1b1616;
  z-index: 1;
  /* padding-right: 50px; */
}

.logo-container img {
  box-sizing: inherit;
  height: 45px;
  width: auto;
}

/* .nav-links {
    flex-grow: 1;
  } */
.nav-links ol {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.link-label {
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.49);
}

.nav-links li {
  padding-left: 30px;
  font-size: 14px;
  position: relative;
}

.numbering {
  color: #b1361e;
  letter-spacing: 0.3px;
}

.nav-links .active {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.nav-link:hover,
.link-label:hover {
  color: #b1361e;
  transition: 0.3s;
}

.resume-link {
  padding: 10px 25px;
  color: #b1361e;
  text-decoration: none;
  border: 1px solid #b1361e;
  border-radius: 5px;
  background-color: hsla(10, 71%, 41%, 0.15);
}

.log-btn {
  padding: 10px 32px;
  color: hsla(0, 0%, 100%, 0.7);
  text-decoration: none;
  border: 1px solid #b1361e;
  border-radius: 5px;
  background-color: hsl(10, 71%, 41%);
}

.log-btn:hover {
  background-color: hsla(10, 71%, 41%, 0.8);
  transition: 0.3s;
}

#logout-btn {
  display: none;
}

/* CONTENT */
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 0px 50px; */
  padding-top: 20px;
}

.social-links {
  /* border: 1px solid red; */
  width: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 20px;
  right: auto;
  bottom: 0px;
}

.social-links i {
  font-size: 25px;
  color: hsla(0, 0%, 100%, 0.49);
  margin: 10px 0px;
}

.line1 {
  height: 150px;
  width: 3px;
}

#already-logged-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #b1361e;
  border-radius: 5px;
  box-shadow: 0 2px 2px 2px rgba(177, 54, 30, 0.5);
  position: fixed;
  z-index: 0;
  right: 50px;
  width: 20%;
  visibility: hidden;
  top: 120px;
  height: 60px;
}

#already-logged-in i {
  font-size: 25px;
  padding-left: 10px;
}

#already-logged-in p {
  font-size: 16px;
  width: 80%;
  text-align: center;
}

.main-content {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* min-height: 89vh; */
  width: 100%;
  /* transition-delay: 500ms; */
}

.scrollable-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  width: 80%;
}

.email-address {
  /* border: 1px solid red; */
  width: 70px;
  position: fixed;
  left: auto;
  right: 20px;
  bottom: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.email-address p {
  writing-mode: vertical-rl;
  letter-spacing: 0.3px;
  color: hsla(0, 0%, 100%, 0.49);
  padding-bottom: 20px;
}

.section-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 50px;
}
.section-title .title {
  padding-right: 15px;
  padding-left: 20px;
  color: #fff;
}

.section-title div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */
}
.section-title img {
  height: 3px;
  width: 100%;
}

#form-container {
  /* border: 1px solid yellow; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15%;
  width: 100%;
  /* min-height: 70vh; */
  padding-top: 50px;
  padding-bottom: 100px;
  /* max-height: 100vh; */
}

#form-container .section-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#form-container p {
  padding-top: 50px;
  padding-bottom: 50px;
}

#form-container form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 11%, 25%, 0.42);
  padding: 0 5%;
  padding-top: 3%;
  border-radius: 3px;
}

#form-container .field {
  /* border: 1px solid green; */
  width: 90%;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: flex-start;
  gap: 20px;
}

#form-container .field input {
  height: 40px;
  background-color: #1b1616;
  border-radius: 3px;
  border: none;
  width: 100%;
  padding: 0px 20px;
  color: #fff;
  font-weight: 500;
}

#form-container .field label {
  padding-top: 20px;
  color: hsla(0, 0%, 100%, 0.7);
}

.toggle-password {
  /* position: absolute; */
  color: #b1361e;
  margin-top: -75px;
  margin-right: 20px 
}

.toggle-container{
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#hide-password{
  cursor: pointer;
  display: none;
}
#show-password{ 
  cursor: pointer;
}

#hide-confirm-password{
  cursor: pointer;
  display: none;
}
#show-confirm-password{ 
  cursor: pointer;
}

.submit-btn {
  width: 90%;
  margin-top: 50px;
  padding: 10px 0px;
  color: #b1361e;
  border: 1px solid #b1361e;
  border-radius: 3px;
  background-color: hsla(10, 71%, 41%, 0.15);
}

#signup-link {
  text-decoration: none;
  color: #b1361e;
  text-decoration: underline;
  padding-left: 5px;
}

#footer {
  margin: 0px 15%;
  margin-bottom: 20px;
}

#mobile_menu {
  display: none;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

@media (min-width: 1400px) {
  #form-container {
    padding: 0 10%;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  #form-container .field {
    font-size: 20px;
  }

  #form-container .field input {
    font-size: 18px;
    height: 50px;
    background-color: #1b1616;
    border-radius: 3px;
    border: none;
    width: 100%;
    padding: 0px 20px;
    color: #fff;
    font-weight: 500;
  }

  #form-container .field label {
    padding-top: 20px;
    color: hsla(0, 0%, 100%, 0.7);
  }

  .submit-btn {
    font-size: 18px;
  }

  #signup-link {
    font-size: 18px;
  }
}

@media (max-width: 1230px) and (min-width: 800px) {
  #already-logged-in {
    width: 30%;
  }

  .nav-links li {
    font-size: 12px;
    padding-left: 20px;
  }

  .social-links i {
    font-size: 20px;
  }

  .line1 {
    height: 100px;
    width: 3px;
  }

  .email-address p {
    font-size: 14px;
  }

  #form-container {
    padding: 0 10%;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  #form-container .field {
    font-size: 20px;
  }

  #form-container .field input {
    font-size: 18px;
    height: 50px;
    background-color: #1b1616;
    border-radius: 3px;
    border: none;
    width: 100%;
    padding: 0px 20px;
    color: #fff;
    font-weight: 500;
  }

  #form-container .field label {
    padding-top: 20px;
    color: hsla(0, 0%, 100%, 0.7);
  }

  .submit-btn {
    font-size: 18px;
  }

  #signup-link {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  #already-logged-in {
    width: 40%;
  }

  #already-logged-in i {
    font-size: 20px;
  }

  #already-logged-in p {
    font-size: 14px;
  }
  .section-title div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .section-title .title {
    font-size: 14px;
  }

  #mobile_menu {
    display: inline;
    position: relative;
    transform: translate(5%, 20%);
  }

  #mobile_menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile_menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile_menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    position: relative;
    top: -1000px;
    opacity: 1;
    /* transition: all 0.3s ease;  */
    z-index: -1;
    background-color: #1b1616;
    border-radius: 3px;
    border: 1px solid rgba(177, 54, 30, 0.5);
    box-shadow: 0 1px 1px 1px rgba(177, 54, 30, 0.5);
  }

  .nav-links.active {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 200px;
    top: 140px;
    opacity: 1;
    /* transition: all 0.5s ease; */
    z-index: 99;
    height: 300px;
    font-size: 20px;
    margin-right: -20px;
  }

  .nav-btn {
    padding-top: 20px;
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    display: block;
    cursor: pointer;
    background-color: #b1361e;
  }

  .nav-links li {
    padding-left: 0px;
    position: relative;
    width: 80%;
    font-size: 12px;
    padding-left: 20px;
    /* border-top: 1px solid red; */
  }

  .social-links {
    display: none;
  }

  .email-address {
    display: none;
  }

  #form-container {
    padding: 0 5%;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  #form-container form {
    width: 100%;
  }

  #form-container .field {
    font-size: 14px;
  }

  #form-container p {
    font-size: 14px;
    padding: 30px;
  }

  #form-container .field input {
    font-size: 14px;
    height: 40px;
  }

  .section-title {
    font-size: 18px;
  }

  #form-container .field {
    /* border: 1px solid green; */
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #form-container .field label {
    padding-top: 20px;
    color: hsla(0, 0%, 100%, 0.7);
  }

  .submit-btn {
    font-size: 14px;
    margin-top: 30px;
  }

  #signup-link {
    font-size: 14px;
  }

  #footer {
    font-size: 14px;
  }
}

@media (max-width: 620px) {
  #already-logged-in {
    width: 50%;
    top: 130px;
  }

  #already-logged-in i {
    font-size: 20px;
  }

  #already-logged-in p {
    font-size: 14px;
    width: 80%;
    text-align: center;
  }

  #form-container {
    padding: 0 5%;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  #form-container form {
    width: 100%;
  }

  #form-container .field {
    font-size: 12px;
  }

  #form-container p {
    font-size: 12px;
    padding: 30px;
  }

  #form-container .field input {
    font-size: 12px;
    height: 40px;
    background-color: #1b1616;
    border-radius: 3px;
    border: none;
    width: 100%;
    padding: 0px 20px;
    color: #fff;
    font-weight: 500;
  }

  .section-title {
    font-size: 18px;
  }

  #form-container .field {
    /* border: 1px solid green; */
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #form-container .field label {
    padding-top: 20px;
    color: hsla(0, 0%, 100%, 0.7);
  }

  .submit-btn {
    font-size: 12px;
    margin-top: 30px;
  }

  #signup-link {
    font-size: 12px;
  }

  #footer {
    font-size: 12px;
  }
}
