* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", sans-serif;
  background-color: #1b1616;
  color: hsla(0, 0%, 100%, 0.49);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  padding-top: 10px;
  width: 100%;
  height: 80px;
  top: 0;
  position: sticky;
  background-color: #1b1616;
  z-index: 1;
  /* padding-right: 50px; */
}

.logo-container img {
  box-sizing: inherit;
  height: 45px;
  width: auto;
}

/* .nav-links {
          flex-grow: 1;
        } */
.nav-links ol {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.link-label {
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.49);
}

.nav-links li {
  padding-left: 30px;
  font-size: 14px;
  position: relative;
}

.numbering {
  color: #b1361e;
  letter-spacing: 0.3px;
}

.nav-links .active {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.nav-link:hover,
.link-label:hover {
  color: #b1361e;
  transition: 0.3s;
}

.resume-link {
  padding: 10px 25px;
  color: #b1361e;
  text-decoration: none;
  border: 1px solid #b1361e;
  border-radius: 5px;
  background-color: hsla(10, 71%, 41%, 0.15);
}

.log-btn {
  padding: 10px 32px;
  color: hsla(0, 0%, 100%, 0.7);
  text-decoration: none;
  border: 1px solid #b1361e;
  border-radius: 5px;
  background-color: hsl(10, 71%, 41%);
}

.log-btn:hover {
  background-color: hsla(10, 71%, 41%, 0.8);
  transition: 0.3s;
}

#logout-btn{
  display: none;
}

#mobile_menu {
  display: none;
  margin-left: 20px;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

#admin-dropdown-btn {
  display: none;
}

.admin-user-icon i {
  color: #b1361e;
  font-size: 30px;
  margin-top: -5px;
}

.admin-menu {
  gap: 20px;
  margin-top: 100px;
  /* padding: 20px 35px; */
  width: 200px;
  height: 150px;
  display: none;
  position: fixed;
  top: -1000px;
  z-index: -1;
  opacity: 1;
  background-color: #1b1616;
  border-radius: 3px;
  border: 1px solid rgba(177, 54, 30, 0.5);
  box-shadow: 0 1px 1px 1px rgba(177, 54, 30, 0.5);
}

.admin-menu.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: -20px;
  right: 50px;
  opacity: 1;
  z-index: 99; 
}
.admin-menu a {
  color: hsla(0, 0%, 100%, 70%);
  text-decoration: none;
  font-weight: normal;
}

.dashboard-link {
  font-size: 14px;
}

/* CONTENT */
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 0px 50px; */
  padding-top: 20px;
}

.social-links {
  /* border: 1px solid red; */
  width: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 20px;
  right: auto;
  bottom: 0px;
}

.social-links i {
  font-size: 25px;
  color: hsla(0, 0%, 100%, 0.49);
  margin: 10px 0px;
}

.line1 {
  height: 150px;
  width: 3px;
}

.main-content {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* min-height: 89vh; */
  width: 100%;
  /* transition-delay: 500ms; */
}

.scrollable-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  width: 80%;
  padding-bottom: 50px;
}

.email-address {
  /* border: 1px solid red; */
  width: 70px;
  position: fixed;
  left: auto;
  right: 20px;
  bottom: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.email-address p {
  writing-mode: vertical-rl;
  letter-spacing: 0.3px;
  color: hsla(0, 0%, 100%, 0.49);
  padding-bottom: 20px;
}

.section-title {
  width: 100%;
  display: flex;
  justify-content: start;
  align-self: start;
  font-size: 20px;
  padding-bottom: 25px;
}
.section-title .title {
  padding-right: 15px;
  color: #fff;
}

.section-title div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title img {
  height: 3px;
  width: 100%;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 80px;
  margin-top: 20px;
  margin-left: 1fr; 
}

.dashboard .sidebar {
  background-color: hsla(0, 11%, 25%, 42%);
  padding: 50px;
  min-height: 75vh;
  height: 75vh;
  position: fixed;
  left: 150px;
  right: auto;
  top: 120px;
  border-radius: 3px;
}

.sidebar li {
  list-style-type: none;
  padding-bottom: 25px;
  text-decoration: none;
}
.sidebar a {
  color: hsla(0, 0%, 100%, 0.49);
}

.active a {
  color: #b1361e;
  text-decoration: underline;
  font-weight: 700;
}

.dashboard .dashboard-content {
  /* background-color: hsla(0, 11%, 25%, 42%); */
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 300px;
}

.all-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.all-blogs .card {
  background-color: hsla(0, 11%, 25%, 42%);
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
  border-radius: 5px;
}

.all-blogs .card img {
  width: 100%;
}

.card p {
  padding: 20px 0;
}

.card-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.card a {
  text-decoration: underline;
  color: hsla(10, 71%, 41%, 1);
  font-size: 12px;
}

#footer {
  margin: 0px 15%;
  margin-bottom: 20px;
  margin-top: 88px;
}

.message-content {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  background-color: hsla(0, 11%, 25%, 0.42);
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
}
.message-content h4 {
  font-size: 20px;
  color: #b1361e;
  padding-bottom: 5px;
  letter-spacing: 0.3px;
}

.message-content p {
  letter-spacing: 0.3px;
  font-size: 12px;
  padding-top: 5px;
  color: rgba(255, 255, 255, 0.42);
  line-height: 20px;
}

.message-content .short-description {
  letter-spacing: 0.3px;
  font-size: 16px;
  padding-top: 20px;
  color: hsla(0, 0%, 100%, 0.7);
  line-height: 20px;
}


.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

@media (max-width: 1230px) and (min-width: 1000px) {
  .dashboard .sidebar {
    position: fixed;
    left: 120px;
    font-size: 14px;
  }

  .dashboard .dashboard-content {
    padding-left: 250px;
  }

}

@media (max-width: 999px) {

  .nav-links li {
    padding-left: 15px;
    font-size: 14px;
    position: relative;
  }

  .dashboard .sidebar {
    position: fixed;
    left: 120px;
    font-size: 12px;
    padding: 40px;
  }

  .dashboard .dashboard-content {
    padding-left: 220px;
  }

  .social-links i {
    font-size: 20px;
  }

  .line1 {
    height: 100px;
    width: 3px;
  }

  .email-address p {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  #mobile_menu {
    display: inline;
    position: relative;
    transform: translate(5%, 20%);
  }

  #mobile_menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile_menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile_menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    position: fixed;
    top: -1000px;
    opacity: 1;
    /* transition: all 0.3s ease;  */
    z-index: -1;
    background-color: #1b1616;
    border-radius: 3px;
    border: 1px solid rgba(177, 54, 30, 0.5);
    box-shadow: 0 1px 1px 1px rgba(177, 54, 30, 0.5);
  }

  .nav-links.active {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 200px;
    top: -20px;
    right: 70px;
    opacity: 1;
    /* transition: all 0.5s ease; */
    z-index: 99;
    height: 300px;
    font-size: 20px; 
  }

  .nav-btn {
    padding-top: 20px;
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    display: block;
    cursor: pointer;
    background-color: #b1361e;
  }

  .nav-links li {
    padding-left: 0px;
    position: relative;
    width: 80%;
    font-size: 12px;
    padding-left: 20px;
    /* border-top: 1px solid red; */
  }

  .admin-menu a {
    font-size: 12px;
  }

  .social-links {
    display: none;
  }

  .email-address {
    display: none;
  }

  .dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  .dashboard .sidebar {
    background-color: hsla(0, 11%, 25%, 42%);
    padding: 0px;
    margin-top: 10px;
    min-height: 0px;
    height: 50px;
    position: relative;
    left: 0px;
    right: auto;
    top: 0px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .dashboard .dashboard-content {
    /* background-color: hsla(0, 11%, 25%, 42%); */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  form {
    width: 100%;
  }

  .field label {
    font-size: 14px;
  }
  
  .field textarea {
    height: 100px;
    background-color: #1b1616;
    border-radius: 3px;
    border: none;
    width: 100%;
    font-size: 14px;
    padding: 10px 20px;
  }

  
  .sidebar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    gap: 20px;
  }

  .sidebar li {
    list-style-type: none;
    padding-bottom: 0px;
    text-decoration: none;
    font-size: 14px;
  }

  .section-title div {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 60%;
  }
  .section-title .title {  
    font-size: 16px;
  }
}

@media (max-width: 530px) {
  .dashboard .dashboard-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar li {
    list-style-type: none;
    padding-bottom: 0px;
    text-decoration: none;
    font-size: 12px;
  }

  .section-title div {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 60%;
  }
  .section-title .title {  
    font-size: 16px;
  }
}